alembic==1.8.0
aniso8601==9.0.1
asgiref==3.5.2
asttokens==2.0.5
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
boltons==21.0.0
bootstrap4==0.1.0
cachetools==5.1.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==8.1.3
click-extra==2.1.1
click-log==0.4.0
cloup==0.14.0
colorama==0.4.4
commentjson==0.9.0
config==0.5.1
configobj==5.0.6
country-list==1.0.0
COVID19Py==0.3.0
decorator==5.1.1
deep-translator==1.9.0
distlib==0.3.4
Django==4.0.6
django-admin-interface==0.20.0
django-bootstrap-datepicker-plus==4.0.0
django-ckeditor==6.5.1
django-colorfield==0.7.2
django-debug-toolbar==3.5.0
django-durationwidget==1.0.5
django-extensions==3.2.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-js-asset==2.0.0
djangorestframework==3.13.1
executing==0.9.1
filelock==3.7.1
Flask==2.1.2
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==4.11.1
form==0.0.1
geographiclib==1.52
geopy==2.2.0
google-api-core==2.8.0
google-api-python-client==2.48.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.1
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
lark-parser==0.7.8
lxml==4.9.1
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mergedeep==1.3.4
meta-package-manager==5.1.0
mypy==0.961
mypy-extensions==0.4.3
oauth2client==4.1.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.7.4
platformdirs==2.5.2
prompt-toolkit==3.0.30
protobuf==3.20.1
psycopg2==2.9.3
pure-eval==0.2.2
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
Pygments==2.12.0
pyparsing==3.0.9
pyTelegramBotAPI==4.7.0
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlparse==0.4.2
stack-data==0.3.0
tabulate==0.8.9
Telethon==1.24.0
tomli==2.0.1
tomli_w==1.0.0
traitlets==5.3.0
typing_extensions==4.2.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.15.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
Werkzeug==2.1.2
xmltodict==0.12.0
youtube3==1.2.1
zipp==3.8.0
